In [13]:
#Exercise 1: Reverse a given list in Python
lst = [200, 700, 300, 400, 500]
print(lst)
lst=lst[::-1]
print(lst)

[200, 700, 300, 400, 500]
[500, 400, 300, 700, 200]

In [17]:
##Exercise 2: Concatenate two lists index-wise

list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3=[]

for i in range(len(list1)):
    lis=(list1[i]+list2[i])
    list3.append(lis)
    print(lis)
print(list3)

My
name
is
Kelly
['My', 'name', 'is', 'Kelly']

In [22]:
##Exercise 3: Given a Python list of numbers. Turn every item of a list into its square
lst = [200, 700, 300, 400, 500]
lst1=[i*i for i in lst]
    
print(lst1)

[40000, 490000, 90000, 160000, 250000]

In [34]:
##Exercise 4: Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

for i in list1:
    for j in list2:
        print(i+j,end=" ")
        list3=[i+j]
        print(list3,end="\n")

Hello Dear ['Hello Dear']
Hello Sir ['Hello Sir']
take Dear ['take Dear']
take Sir ['take Sir']

In [41]:
##Exercise 5: Given a two Python list. Iterate both lists simultaneously such that list1 should display 
#item in original order and list2 in reverse order

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

print(list1,list2[::-1])

for i,j in zip(list1,list2[::-1]):
    print(i,end=" ")
    print(j)

[10, 20, 30, 40] [400, 300, 200, 100]
10 400
20 300
30 200
40 100

In [48]:
#Exercise 6: Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in list1:
        if(i == ""):
            list1.remove("")
            
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [60]:
#Exercise 7: Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [67]:
##Exercise 8: Given a nested list extend it by adding the sub list ["h", "i", "j"]
##in such a way that it will look like the following list
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
list1[2][1][2].extend(["h","i","j"])
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [70]:
##Exercise 9: Given a Python list, find value 20 in the list, and if it is present, replace it with 200.
##Only update the first occurrence of a value

list1 = [5, 10, 15, 20, 25, 50, 20]

list1[list1.index(20)]=200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [73]:
#Exercise 10: Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]

for i in list1:
    if i==20:
        list1.remove(i)
        
print(list1)

[5, 15, 25, 50]