In [12]:
##Exercise 1: Below are the two lists convert it into the dictionary

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dic={}
for i,j in zip(keys,values):
    key=i
    value=j
    dic[key]=value
    
print(dic)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [14]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dic={}
for i in range(len(keys)):
    dic[keys[i]]=values[i]
    
print(dic)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [33]:
##Exercise 2: Merge following two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict={**dict1,**dict2}
print(dict)
print(dict2.update(dict1))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
None

In [50]:
##Exercise 3: Access the value of key ‘history’ from the below dict
dict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
print(dict)
print(dict['class']['student']['marks']['history'])

{'class': {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}}
80

In [61]:
##Exercise 4: Initialize dictionary with default values

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

dct=dict.fromkeys(employees,defaults)
print(dct)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [67]:
##Exercise 5: Create a new dictionary by extracting the following keys from a below dictionary
dict1 = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

print(dict1)
keys = ["name", "salary"]


d = {k: dict1[k] for k in keys}
    
print(d)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}
{'name': 'Kelly', 'salary': 8000}

In [75]:
#Exercise 6: Delete set of keys from a dictionary
dct = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

key = ["name", "salary"]

dct={k : dct[k] for k in dct.keys() - key}

print(dct)

{'age': 25, 'city': 'New york'}

In [80]:
##Exercise 7: Check if a value 200 exists in a dictionary

d = {'a': 100, 'b': 200, 'c': 300}

key= d.keys()
value = d.values()

for i in value:
    if i == 200:
        print("200 exists")

200 exists at

In [81]:
##Exercise 8: Rename key city to location in the following dictionary

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict['location'] = sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [92]:
##Exercise 9: Get the key of a minimum value from the following dictionary

d = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
k=list(d.keys())
v=list(d.values())
m=min(v)
i=v.index(m)
print(k[i])

Math

In [94]:
##Exercise 10: Change Brad’s salary to 8500 from a given Python dictionary
emp = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

print(emp)
emp['emp3']['salary']=8500
print(emp)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 6500}}
{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}