In [1]:
##Exercise 1: Reverse the following tuple

a = (10, 20, 30, 40, 50)

print(a[::-1])

(50, 40, 30, 20, 10)

In [2]:
##Exercise 2: Access value 20 from the following tuple
a = ("Orange", [10, 20, 30], (5, 15, 25))
print(a[1][1])

20

In [10]:
##Exercise 3: Create a tuple with single item 50
s=(50,)
print(s)

(50,)

AttributeError: 'tuple' object has no attribute 'type'

In [19]:
##Exercise 4: Unpack the following tuple into 4 variables
a= (10, 20, 30, 40)
b,c,d,e = a

print(b)
print(c)
print(d)
print(e)

10
20
30
40

In [20]:
##Exercise 5: Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)

t=tuple1
tuple1=tuple2
tuple2=t

print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [ ]:
##Exercise 6: Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
    
    
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

In [22]:
#Exercise 7: Modify the first item (22) of a list inside a following tuple to 222
tuple1 = (11, [22, 33], 44, 55)


tuple1[1][0]=222
print(tuple1)

(11, [222, 33], 44, 55)

In [39]:
##Exercise 8: Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
print(tuple1[:-1:2])

(('a', 23), ('c', 11))

In [40]:
#Exercise 9: Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)

for i in tuple1:
    c=tuple1.count(i)
    print(c)

2
1
1
1
2

In [47]:
##Exercise 10: Check if all items in the following tuple are the same
tuple1 = (45, 45, 45, 45)

all(i == tuple1[0] for i in tuple1)

True